body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 90vw;
  max-width: 1200px;
}

.title {
  font-size: medium;
  background-color: #303e48;
  color: #fff;
  margin: 0;
}

.text {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.text .text__titular {
  background-color: #aca4b5;
  flex: 2;
}

.text h1 {
  font-size: medium;
}

.text .text__index {
  background-color: #9b93a4;
  flex: 1;
}

.footer {
  display: flex;
  background-color: #303e48;
  margin: 0;
}
.footer p {
  justify-content: center;
}
